[Unit]
Description=TheBigTree Service
After=default.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=~/.config/bigtree
ExecStart=/usr/bin/python3 ~/.config/bigtree/bigtree.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=default.target