[Unit]
Description=TheBigTree Service
After=default.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=%h/.config/bigtree/
ExecStart=/usr/bin/python3 %h/.config/bigtree/thebigtree.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=default.target